* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.top-nav-bar-container {
    display: flex;
    border-bottom: 2px solid #000;
}


.left-logo-tile-nav-bar {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    padding-left: 10px;
    text-decoration: none;
    color: #000;
}


.nav-menu-icon {
    margin-left: auto;
    align-content: center;
    margin-right: 20px;
    border: 0;
    background-color: #fff;
}

.first-hero-title {
    animation: fadein 3s ease;
    animation-iteration-count: 1;
}

.second-hero-title {
    animation: fadein 5s ease;
    animation-iteration-count: 1;
}

@keyframes fadein {
    0% {
        opacity: 0;
        color: #059299;
    }
    100% {
        opacity: 1;
        color: #fff;
    }
}

.body-hero-content-container {
    display: flex;
    min-height: 500px;
    min-width: auto;
    background-image: linear-gradient(-45deg, #059212, #059299);
}

.body-hero-content {
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    align-self: center;
    margin-left: 20px;
}

.skill-nav-container {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-top: 2px solid #000;
}

.skill-icon {
    padding: 10px;
    cursor: default;
    color: #059212;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.hero-card {
    justify-content: flex-end;
    max-height: 400px;
    flex-shrink: 0;
    margin-left: auto;
    max-height: auto;
    margin-right: 125px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-family: "Kanit", sans-serif;
    color: white;
    border: 2px solid white;
}

@media (max-width: 900px) {
    .body-hero-content-container {
        flex-direction: column;
    }
    .hero-card {
        margin-left: 120px;
    }
    .body-hero-content {
        margin-top: 50px;
    }
}

.hero-card-img {
    border: 2px solid #fff;
    border-radius: 50%;
    max-height: 75px;
}

.hero-content-container h3 {
    padding-bottom: 5px;
}

.hero-content-container p {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contact-me {
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.body-header {
    text-align: center;
    padding-top: 20px;
    font-family: "Kanit", sans-serif;
    padding-bottom: 40px;
}

.body-hero-content {
    flex-shrink: 0;
}

.body-content {
    display: flex;
    text-align: center;
    justify-content: center;
}

.body-content-container {
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,.3);
    padding: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
    margin-bottom: 10vh;
}

.body-content-container img {
    width: 200px;
    border-radius: 5px;
    border: 3px solid  black;
}

.body-content-container  > p {
    padding: 5px
}

.pat-button {
    border: 1px solid darkgray;
    min-height: 20px;
    min-width: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.burg-menu {
    display: flex;
    flex-flow: column;
    padding: 10px;
}

.burg-menu-content {
    text-align: right;
    display: none;
    position: absolute;
    right: 35px;
    top: 48px;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: "Lato", sans-serif;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

.burg-menu-list {
    list-style-type: none;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.burg-list-item {
    padding-top: 5px;
}

/* Code specific for styles on Freestyle Flowinator project page */

.freestyle-hero-title {
    animation: fadein 3s ease;
    animation-iteration-count: 1;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000;
}

.freestyle-hero-content-container {
    display: flex;
    justify-content: center;
    min-height: 500px;
    min-width: auto;
    background-image: linear-gradient(35deg, #000, #ccc, #000);
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.freestyle-pad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
    animation: freestylecolorshift 5s linear infinite;
    background-image: linear-gradient(15deg, darkred, red);
}

.freestyle-pad-container label {
    font-size: 20px;
    color: white;
}

.freestyle-button {
    padding: 20px;
    margin: 10px;
}

.pad-option {
    max-width: 200px;
}

@keyframes freestylecolorshift {
    0% {
        background-position: 25% 75%;
    }
    50% {
        background-position: 10% 90%;
    }
    100% {
        background-position: 25% 75%;
    }
}

