* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* comment
body {
    background-color: #627254;
 }
 */

 body {
    background: linear-gradient(45deg, #3b4432, #627254, #728065, #818e76);
    animation: gradientanimation 15s ease infinite;
 }

 @keyframes gradientanimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 100% 50%;
    }
 }

 div > h1 {
     font-size: 60px;
 }
 
 div > h2 {
     font-size: 40px;
 }


/* ABOVE IS GLOBAL, DO NOT TOUCH */



/*Style header*/

.title-container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    padding-left: 30px;
    text-align: center;
    background-color: #E8D8C4;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

/* Style nav menu and nav functionality */


/* Card styling and responsiveness */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 32px;
    border-bottom: 1px solid #E8D8C4;
    border-radius: 50%;
}

.card-image {
    max-width: 100px;
    border-radius: 50%;
    padding-top: 10px;
}

.card-background {
    background-color: #E8D8C4;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
}

.card-button {
    margin-top: 50px;
    background-color: #627254;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 4px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 10px;
}

a:link {
    color: white;
}

/* Skill Tile Styling */

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
    padding-bottom: 280px;
}

.skill-card {
    max-width: 300px;
    padding: 20px;
    background-color: #E8D8C4;
    border-radius: 5px;
    text-align: center;
    min-height: 400px;
    flex-shrink: 0;
}

.skill-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Playfair", serif;
    font-weight: bold;
    font-style: normal;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.skill-desc {
    font-size: 20px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 5px;
}

@media (max-width: 600px) {
    .skill-container {
        max-height: 500px;
    }
    .navbar {
        display: none;
    }
}

/* Retrospectively, having a class called -title and then one -tile was not good forethinking */




/* Middle main page content section */


.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4e5b43;
    padding-bottom: 20px;
    padding-top: 15px;
    justify-content: space-evenly;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav ul li {
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
}
